*{
    margin: 0px;
    padding: 0px;
    
}

.navbar-container {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 10;
  padding-top: 0; 
  
}

.navbar-pill {
  background-color: white;
  width: 95%; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
}



.nav-links a {
  text-decoration: none;
  color: #333;
  margin-left: 30px;
  font-weight: 500;
}

.contact-btn {
  background-color: #1a1c22; 
  color: white !important;
  padding: 10px 25px;
  border-radius: 8px;
}


.hero {
  position: relative;
  height: 80vh; 
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  overflow: hidden;
  
  
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
              url("/picture's/ezgif-frame-001.jpg"); 
  background-size: cover;
  background-position: center;
}
.grid-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: 
    linear-gradient(to right, black 1.5px, transparent 1px),
    linear-gradient(to bottom, black 1.5px, transparent 1px);
  background-size: 33.33% 33.33%;
  pointer-events: none;
}

.hero-content h1 {
  font-size: 4rem;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.hero-content p {
  font-size: 1.1rem;
  max-width: 700px;
  line-height: 1.6;
  opacity: 0.7;
}

.btn-explore {
  margin-top: 20px;
  padding: 10px 25px;
  background: rgba(255, 255, 255, 0.1);
  border:none;
  
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-explore:hover {
  background: rgba(255, 255, 255, 0.2);
}

.heading-2{
    padding: 20px 10%;
}

.heading-2{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin: 30px 0;
}

.heading-title{
  font-size: 38px;
  font-weight: bold;
}

.heading-right{
  text-align: right;
}

.heading-text{
  display: block;
  margin-bottom: 8px;
  color: #666;
}

.heading-buttons{
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.btn-light{
  background: #EAEFF2;
  color: #a5b4bd;
  border-radius: 5px;
  padding: 5px 8px;
}

.btn-dark{
  background: #1D1F2C;
  color: white;
  border-radius: 5px;
  padding: 5px 8px;
}
.sound-heading{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:5% 10%;
  gap:20px;
}

.sound-title{
  font-size:30px;
  font-weight:600;
}

.sound-right{
  max-width:500px;
  text-align:right;
}

.sound-text{
  margin-bottom:10px;
  color:#666;
}

.sound-buttons{
  display:flex;
  gap:10px;
  justify-content:flex-end;
}

.btn-light{
  border:none;
  padding:6px 10px;
  border-radius:5px;
  background:#f0f3f6;
  color:#777980;
  cursor:pointer;
}

.btn-dark{
  border:none;
  padding:6px 10px;
  border-radius:5px;
  background:#1D1F2C;
  color:#fff;
  cursor:pointer;
}






.card-section{
 background-color: white;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}
.cards{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
  gap:20px;
  padding-left: 5%;
  padding-right: 5%;
 
  padding-top: 80px;
}



.card{
  background:#f4f7f9;
  border-radius:16px;
 
}



.header{
  display:flex;
  gap:20px;
  padding: 20px;
  align-items:center;
  margin-bottom:14px;
}

.logo{
  width:48px;
  height:48px;
  background:#111;
  color:#fff;
  border-radius:8px;
  font-weight:bold;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:12px;
}

.title{
  font-size:18px;
  font-weight:600;
  line-height:1.4;
}



.player{
  background:#eef2f4;
  border-radius:30px;
  padding:8px 12px;

  display:flex;
  align-items:center;
  gap:10px;
}



.play{
  width:34px;
  height:34px;
  border-radius:50%;
  border:none;
  background:#1b1b1b;
  color:#fff;
  cursor:pointer;
  font-size:14px;
}



.wave{
  flex:1;
  display:flex;
  align-items:center;
  gap:3px;
}

.wave span{
  width:3px;
  height:10px;
  background:#7f8c97;
  border-radius:2px;
}



.right{
  display:flex;
  align-items:center;
  gap:6px;
  font-size:12px;
  color:#555;
}

.volume{
  font-size:14px;
  cursor:pointer;
}


.footer{
  margin-top:14px;
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  background:#edf1f4;
  border-radius:10px;
  overflow:hidden;
}

.footer button{
  border:none;
  background:none;
  padding:10px;
  cursor:pointer;
  font-size:16px;
}

.footer button:not(:last-child){
  border-right:1px solid #d7dde1;
}



.modal{
  position:fixed;
  inset:0;
  background:rgba(0,0,0,.4);
  display:flex;
  justify-content:center;
  align-items:center;
}

.modal-box{
  background:#fff;
  padding:20px;
  border-radius:10px;
  width:280px;
  text-align:center;
}

.hidden{
  display:none;
}

/* Mobile */
@media (max-width: 768px){
.nav-links{
    display: none;
}
.navbar-pill{
    justify-content: center;
}
  .sound-heading{
    flex-direction:column;
    text-align:center;
    padding:20px 10px;
  }

  .sound-right{
    text-align:center;
    max-width:100%;
  }

  .sound-buttons{
    justify-content:center;
    flex-wrap:wrap;
  }

  .sound-title{
    font-size:24px;
  }

  .sound-text{
    font-size:13px;
  }

  .heading-right{
    text-align: center;
  }

  .heading-buttons{
    justify-content: center;
    flex-wrap: wrap;
  }

  .heading-title{
    font-size: 26px;
  }

  .heading-text{
    font-size: 13px;
  }

   .player{
    flex-wrap:wrap;
  }

  .wave{
    width:100%;
  }
}

